{{define "message"}}
{{.Rating.Symbol}} New {{.Type.String}} submission on FurAffinity from <a href="{{.UserLink}}">{{.UserName}}</a>!
---------------------------------
<b>{{.Title}}</b>

{{.Rating.String}}
---------------------------------
<a href="{{.Link}}">Open</a>
(Submission ID: <code>{{.ID}}</code>)
{{end}}