{{define "message"}}
New journal on FA from <a href="{{.User.ProfileUrl}}">{{.User.Name}}</a>!
---------------------------------
<b>{{.Title}}</b>

{{formatContent .Content}}
---------------------------------
<b><a href="{{.Link}}">View on FA</a></b>
(Journal ID: <code>{{.ID}}</code>)
{{end}}