{{define "message"}}
New journal on FurAffinity from <a href="{{.UserLink}}">{{.UserName}}</a>!
---------------------------------
<b>{{.Title}}</b>

{{truncateContent .Content}}
---------------------------------
<a href="{{.Link}}">Open</a>
(Journal ID: <code>{{.ID}}</code>)
{{end}}