{{define "message"}}
New comment on FA from <a href="{{.User.ProfileUrl}}">{{.User.Name}}</a>!
---------------------------------
On: <b>{{.OnEntry}}</b>

{{formatContent .Content}}
---------------------------------
<b><a href="{{.Link}}">View on FA</a></b>
(Comment ID: <code>{{.ID}}</code>)
{{end}}